<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2">

<section>
    <p class="mb-4">
        Ex consectetur sunt nostrud est ex magna. Veniam laboris consectetur id est ullamco pariatur. Aliqua voluptate
        eiusmod commodo elit anim adipisicing. Ipsum aliquip velit consequat qui incididunt mollit ut eu dolor deserunt.
        Cillum incididunt tempor veniam elit et commodo ad labore nisi. Ad exercitation deserunt in aliqua culpa. Id
        reprehenderit dolor ad ex.
    </p>
</section>