<h1 class="text-3xl">Sobre la aplicacion</h1>
<hr class="my-2">

<section>
    <p class="mb-4">
        Proident eu tempor nostrud minim enim esse consequat. Reprehenderit exercitation laboris ea aute exercitation
        culpa duis. Sint labore adipisicing id irure ipsum do velit consequat elit culpa. Consequat amet culpa nostrud
        ad officia commodo. Duis minim quis et cillum eiusmod cupidatat eu ex. Labore anim deserunt dolor Lorem pariatur
        veniam veniam consequat dolor cupidatat labore dolore.
    </p>
</section>